services:
  adguardhome:
    image: adguard/adguardhome:latest
    container_name: adguardhome
    cap_add:
      - NET_BIND_SERVICE
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "3000:3000"
      # - "8888:80"
      # - "8443:443"
    restart: unless-stopped
    volumes:
      - adguard_work:/opt/adguardhome/work
      - adguard_config:/opt/adguardhome/conf
    networks:
      - proxy_proxy
    labels:
      - "deunhealth.restart.on.unhealthy=true"
      - "traefik.enable=true"
      - "traefik.docker.network=proxy_proxy"
      # http
      - "traefik.http.routers.dns.entrypoints=web"
      - 'traefik.http.routers.dns.rule=Host(`dns.${BASE_HOSTNAME:-localhost}`)'
      - "traefik.http.routers.dns.middlewares=dns-https-redirect"
      - "traefik.http.middlewares.dns-https-redirect.redirectscheme.scheme=https"
      # https
      - "traefik.http.routers.dns-secure.entrypoints=websecure"
      - 'traefik.http.routers.dns-secure.rule=Host(`dns.${BASE_HOSTNAME:-localhost}`)'
      - "traefik.http.routers.dns-secure.tls.certresolver=leresolver"
      - "traefik.http.routers.dns-secure.service=dns-secure"
      - "traefik.http.services.dns-secure.loadbalancer.server.port=80"
    environment:
      - TZ=Europe/London

volumes:
  adguard_work:
  adguard_config:

networks:
  proxy_proxy:
    external: true
